body, div, label, input {
	font-family: Arial, 'Ubuntu', sans-serif;
	font-size: 16px;
	background-color: transparent;
	padding: 0px 0px 0px 0px;
}

body, span, font {
	color: #d5d5d5 !important;
}

p {
	padding: 0px 0px 8px 0px;
	margin: 0px 0px 0px 0px;
}

.container {
	width: 850px;
	position: relative;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 36px 48px 0;
}

header::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg,
	rgba(0, 0, 0, 0.0) 0%,
	rgba(0, 0, 0, 0.0) 70%,
	rgba(0, 0, 0, 0.2) 80%,
	rgba(0, 0, 0, 0.7) 90%,
	rgba(0, 0, 0, 0.9) 95%,
	rgba(0, 0, 0, 1.0) 100%
	);
}

header h5{
	font-weight:normal;
	font-size: 12px;
	line-height: 5px;
	padding: 10px 0px 0px 0px;
	color: #FD5158;
	text-align: left;
}

.adminheader h1{
	line-height: 15px;
	padding: 0px 0px 17px 0px;
}

header .logo {
	z-index: 1;
	float: left;
	/*	background-color: #FFFFFF;*/
	margin: 0px 18px 0px 0px;
	width: 60px;
}

h1, #logoText {
	z-index: 1;
	display: inline-block;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 24px;
	font-weight:normal;
	padding: 0px 0px 0px 0px;
	margin: 0px 24px 0px 0px;
	line-height: 24px;
	color: #FFF;
	text-decoration: none;
	max-width: 220px;
}

a.logoLink {
	display: flex;
	align-items: center;
}

a.logoLink:hover {
	text-decoration: none;
}

hr {
	border-bottom: 1px solid #888888;
}

.softHr {
	border-bottom: 1px solid #AAAAAA;
}


/* Menu */
nav.menu {
	display: flex;
	justify-content: flex-end;

	/*background-color: #000000;*/
	opacity:0.8;
	font-size: 16px;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0;
}

nav.menu li {
	float: left;
	padding: 0px 16px 0px 0px;
}

nav.menu li:last-of-type {
	padding-right: 0;
}

nav a {
	color: #FFFFFF;
}

nav li a {
	padding-bottom: 3px;
}

nav a:hover {
	color: #FFFFFF;
	opacity: 0.7;
	text-decoration: none;
}

nav.menu a:after {
	position: relative;
	height: 3px;
	display: block;
	content: '';
	margin-bottom: 6px;
}

nav.menu a.selectedItem:after {
	background: #fff;
}



/* Submenu */
.submenu {
	position: absolute;
	right: 48px;
	display: flex;
	justify-content: flex-end;
	width: 120px;
	float: right;
	opacity:0.9;
	font-size: 16px;
	text-align: right;
}

.submenu ul {
	list-style-type: none;
}

.submenu li {
	float: right;
	padding: 4px 0px;
}

.submenu a {
	display: block;
	color: #FFF;
	transition: transform 0.3s;
}

.submenu a:hover {
	opacity: 0.7;
	text-decoration: none;
	transform: translateX(-12px);
}

.submenu a.selectedItem {
	/*margin-right: 24px;*/
	position: relative;
}

.submenu a.selectedItem:after {
	position: absolute;
	top: 0;
	left: -20px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid white;
	display: block;
	content: '';
}


/* Footer */
.footer {
	color: #B651FD;
	padding: 15px 0px 0px 0px;
}

.footer ul {
	list-style-type: none;
	margin: auto;
	padding: 0px 0px 0px 0px;
}

.footer li {
	float: left;
}

.footer li:before {
	content: " | ";
	padding: 15px 5px 0px 5px;
}

.footer li:first-child:before {
	content: none;
	padding: 0px 5px 0px 0px;
}



.contentBox {
	position: absolute;
/*	top: 40px;*/
   float:left;  
   overflow:hidden;  
}

.overflowhidden {
	position: absolute;
   overflow:hidden;  
}

.content {
	position:relative;
}

.transparency{
	opacity:0.8;
   filter:alpha(opacity=80);
   -moz-opacity:0.9;  
   background-color:#000;
   width: 100%;  
   height: 15000px;  
   position:absolute;  
   top:0px;  
   left:0px;  
   z-index:-1;  
}

.mediumSizeBox {

	padding: 30px 30px 30px 30px;
}


.mediumSizeBox .content {
	width: 420px;
}


.smallSizeBox {

	padding: 30px 30px 30px 30px;
}

.smallSizeBox .content {
	width: 330px;
}

.fullSizeBox {
	width: 820px;
	padding: 30px 30px 30px 30px;
	display: block;
}

.fullSizeBox .content {
	width: 820px;
}

.bigSecondBox {
	width: 400px;
	padding: 34px 30px 30px 30px;
	left: 420px;
}


.smallSecondBox {
	width: 240px;
	padding: 34px 30px 30px 30px;
	left: 520px;
}

.smallSecondFacebookBox {
	width: 280px;
	padding: 0px;
	left: 520px;
	box-shadow: 1px 1px 4px #444;
}


#imgGetFullWidth img {
    min-width: 100%;
    height: auto !important;
}



h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight:normal;
	color: #73A8BF;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
}


h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight:normal;
	color: #5092AF;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	line-height: 25px;
}

h3 small {
font-size: 11px;
display: block;
color: #777777;
}

h4 {
	color: #FD5158;
	font-weight:normal;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	display: inline;
}

.content img {
	padding: 5px 0px 0px;
}

table td:not(first-child) {
	padding: 0px 10px 0px 0px;
}

.trSelected {
	color: #FD5158;
}

#pylonCalendar tr {
	cursor: pointer;
}


.verticalForm label, verticalForm input {
	display: block;
}

.verticalForm label {
	padding: 0px 0px 0px 6px;
}

.form-vertical .form-horizontal .control-group > label {
  text-align: left;
}
.form-horizontal .form-vertical .control-group > label {
  float: none;
  padding-top: 0;
  text-align: left;
}
.form-horizontal .form-vertical .controls {
  margin-left: 0;
}
.form-horizontal .form-vertical.form-actions,
.form-horizontal .form-vertical .form-actions {
  padding-left: 20px;
}
.control-group .control-group {
  margin-bottom: 0;
}



select {
	height: 28px; 
	background-color: #ffffff; 
	border: 1px solid #cccccc; 
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 10px; 
}


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 3px 5px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

input.error, textarea.error, select.error {
	border-color: #B94A48;
}


/*Quote*/

blockquote {
	overflow: hidden; /* clearfix alternative */
	color: #c7c7c7;
	border-left: 0px;
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

blockquote p {
	font-size: 16px;
	line-height: 150%;
	padding: 0px 0px 0px 35px;
}

blockquote:before {
	display: block;
	float: left;
	margin: -24px 0 0 0;
	font-size: 80px; /* let's make it a big quote! */
	content: open-quote; /* here we define our :before as a smart quote. It could be any content, even the HTML entity alternative to this opening quote, that is “ */
	color: #8e8e8e;
	text-shadow: 0 1px 1px #909090;
}
blockquote:after {
	content: none;
	/* could be content:close-quote; but lets keep it clean*/
}


/* Go to Top box*/
#toTop {
	width:100px;
        border:1px solid #ccc;
        background:#f7f7f7;
        text-align:center;
        padding:5px;
        position:fixed; /* this is the magic */
        bottom:10px; /* together with this to put the div at the bottom*/
        right:10px;
        cursor:pointer;
        display:none;
        color:#333;
        font-family:verdana;
        font-size:11px;
}

/*is used for quote*/
h5 {
	color: #000000;
	font-size: 12px;
	font-weight:normal;
	text-align: right;
	margin: 0px 0px 0px 0px;
}




/*Captcha*/

#recaptcha_widget {
	width: 400px;
	min-height: 130px;
}

#recaptcha_image img { 
	padding: 0px 100px 0px 0px;
	background-color: white;
} 


/* Admin */

#adminmenu {
	position: absolute;
	z-index: 10;
	right: 0;
	padding: 5px 10px 5px 10px;
	-moz-border-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #FFFFFF;
	opacity:0.9;
   filter:alpha(opacity=90);  
   -moz-opacity:0.9;  
}


#adminmenu a {
	color: #000000;
}

#adminmenu a:hover {
	color: #000000;
}

#image {
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    background: #000;
    color: #fff;
}




.contrastBox {
	background-color: #B651FD; 
	padding: 10px;
	color: #FFFFFF;
}

.contrastBox h3 {
	color: #FFFFFF;
}
.contrastBox h4 {
	color: #FFFFFF;
	font-weight:bold;
}


.room {
	border: 1px solid black;

	height: 50px;
text-align: center; 
	overflow: hidden;




}

.floorimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.img {
	width:300px;
	height:300px;
}

.enlarge {
	width:100%;
	height:100%;

}

.center {
	display: flex;
	justify-content: center;
}

